<div class="relative bg-white bg-opacity-75 overflow-hidden m-8">
  <form
    class="max-w-screen-xl mx-auto"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div
      class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
    >
      <svg
        class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
      >
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>
      <div class="md:flex md:items-center mb-6 pt-10">
        <div class="md:w-1/3">
          <label
            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
            for="inline-full-name"
          >
            Name
          </label>
        </div>
        <div class="md:w-2/3">
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-teal-500"
            id="inline-full-name"
            type="text"
            value="Yosemite mountain"
            [ngClass]="{
              'bg-red-200':
                (form.controls.name.dirty || form.controls.touched) &&
                form.controls.name.invalid &&
                form.controls.name.errors.required
            }"
            formControlName="name"
          />

          <span
            *ngIf="
              (form.controls.name.dirty || form.controls.touched) &&
              form.controls.name.invalid &&
              form.controls.name.errors.required
            "
            class="text-xs text-red-500"
          >
            Name is required.
          </span>
        </div>
      </div>
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label
            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
            for="inline-full-name"
          >
            Alt Name
          </label>
        </div>
        <div class="md:w-2/3">
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-teal-500"
            id="inline-full-name"
            type="text"
            value="yosemite_mountain"
            formControlName="alt_description"
            [ngClass]="{
              'bg-red-200':
                (form.controls.alt_description.dirty ||
                  form.controls.touched) &&
                form.controls.alt_description.invalid &&
                form.controls.alt_description.errors.required
            }"
          />

          <span
            *ngIf="
              (form.controls.alt_description.dirty || form.controls.touched) &&
              form.controls.alt_description.invalid &&
              form.controls.alt_description.errors.required
            "
            class="text-xs text-red-500"
          >
            Alt name is required.
          </span>
        </div>
      </div>
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label
            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
            for="inline-full-name"
          >
            Description
          </label>
        </div>
        <div class="md:w-2/3">
          <textarea
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-teal-500"
            formControlName="description"
            [ngClass]="{
              'bg-red-200':
                (form.controls.description.dirty || form.controls.touched) &&
                form.controls.description.invalid &&
                form.controls.description.errors.required
            }"
          >
Put your photo description here!</textarea
          >
          <span
            *ngIf="
              (form.controls.description.dirty || form.controls.touched) &&
              form.controls.description.invalid &&
              form.controls.description.errors.required
            "
            class="text-xs text-red-500"
          >
            Description is required.
          </span>
        </div>
      </div>
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label
            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
            for="inline-full-name"
          >
            File
          </label>
        </div>
        <div class="md:w-2/3">
          <div class="flex flex-row gap-3">
            <label
              class="w-16 flex flex-col items-center bg-gray-200 rounded-lg shadow-lg tracking-wide border cursor-pointer hover:bg-white hover:text-black"
            >
              <svg
                class="w-6 h-6"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
                />
              </svg>
              <input
                type="file"
                class="hidden"
                accept="image/x-png,image/gif,image/jpeg"
                formControlName="photo"
                (change)="handleFileInput($event.target.files)"
              />
            </label>

            <div>
              {{ label }}
            </div>
          </div>
        </div>
      </div>
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label
            class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
            for="inline-full-name"
          >
            Categories
          </label>
        </div>
        <div class="md:w-2/3">
          <div class="grid grid-cols-2">
            <div *ngFor="let category of $categories | async; index as i">
              <label
                class="inline-flex items-center"
                formArrayName="categories"
              >
                <input
                  type="checkbox"
                  class="ml-2"
                  [formControlName]="i"
                  [value]="category.id"
                  (change)="
                    $event.target.checked
                      ? categories.controls[i].patchValue($event.target.value)
                      : categories.controls[i].patchValue('')
                  "
                /><span class="ml-2 text-gray-700 capitalize">{{
                  category.category
                }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="md:flex md:items-center">
        <div class="md:w-1/3"></div>
        <div class="md:w-2/3">
          <button
            class="shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="button"
            (click)="clear()"
          >
            Clear
          </button>
          <button
            class="shadow ml-2 bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
            type="submit"
            [disabled]="!form.valid"
            [ngClass]="{
              'opacity-50 cursor-not-allowed': !form.valid
            }"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      src="https://images.unsplash.com/photo-1506318164473-2dfd3ede3623?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
      alt=""
      *ngIf="!imgURL"
    />

    <img [src]="imgURL" height="130" *ngIf="imgURL" #img />
  </div>
</div>
